
.header {
        height: 55px;
        display: flex;
        flex-direction: row;
        /* background-color: rgb(227, 65, 64); */
        justify-content: space-between;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 55px;
        /* margin-bottom: 55px; */
        background-color: rgb(255, 255, 255);
        z-index: 100;
        

        /* #6 the position helps us to keep the header at the top and not disappear when scrolling */
}
.left.section {
        width: 150px;
        /* background-color: rgb(227, 65, 64); */
        display: flex;
        align-items: center;
        padding-right: 20px;

}
.menu {
        height: 22px;
        margin-left: 22px;
        margin-right: 25px;
}

.logo {
        height: 20px;
}
.middle.section {
        flex: 1;
        background-color: rgb(255, 255, 255);
        margin-left: 70px;
        margin-right: 20px;
        max-width: 500px;
        /* background-color: rgb(64, 227, 170); */
        display: flex;
        align-items: center;
        /* sets up the maximum width for the middle section */        
}
.search {
        flex: 1;
        height: 33px;
        /* border: none; */
        /* background-color: rgb(227, 227, 227); */
        padding-left: 15px;
        font-size: 15px;
        border: 1px solid rgb(212, 211, 211);
        box-shadow: inset 1px 2px 5px rgba(0, 0, 0, 0.05);
        width:0;
}
.search:focus { 
        outline: none;
        border: 1px solid rgb(158, 158, 249);
        /* box-shadow: 0 0 0 3px rgba(134, 134, 233, 0.12); */
        /* box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.01); */
}
.search-icon {
        height: 25px;
        padding: 5px;
        /* margin-left: 15px; */
        border: 1px solid rgb(180, 179, 179);
        width: 53px;
        background-color: rgb(246, 246, 246);
        border: 1px solid rgb(212, 211, 211);
        margin-left: -1px;
}
.search-icon:hover {
        /* border: 1px solid rgb(134, 134, 233); */
        background-color: rgb(229, 229, 229);
        cursor: pointer;
}
.mic-icon {
        height: 25px;
        padding: 7px;
        /* width: 30px; */
        margin-left: 6px;
        /* border: 1px solid rgb(180, 179, 179); */
        background-color: rgb(246, 246, 246);
        border-radius: 50%;

}
.right.section {
        width: 170px;
        /* background-color: rgb(227, 65, 64); */
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-right: 20px;
        margin-left: 10px;
        flex-shrink: 0;
}
.upload-icon, .apps-icon, .notification-icon {
        height: 25px;
        /* padding: 5px;
        margin-right: 18px; */
}
.profile-icon {
        /* border-radius: 50%;
        object-fit: cover;
        object-position: center;
        margin-right: 25px; */
        height: 32px;

}
.notification-container {
        position: relative;
}
.notification-count {
        position: absolute;
        top: -2px;
        right: -5px;
        background-color: rgb(227, 65, 64);
        color: white;
        font-size: 10px;
        padding: 2px 5px;
        border-radius: 10px;
}
.search-icon-container {
        position: relative;
        /* margin-top: 3px;     */
        display: flex;
        align-items: center;
        justify-content: center;
}
.menu-icon-container,
.logo-icon-container,
.mic-icon-container,
.upload-icon-container,
.apps-icon-container,
.notification-container,
.profile-icon-container {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
}
.menu-icon-container:hover,
.logo-icon-container:hover,
.mic-icon-container:hover,
.upload-icon-container:hover,
.apps-icon-container:hover,
.notification-container:hover,
.profile-icon-container:hover {
        cursor: pointer;
}
.search-tooltip {
        position: absolute;
        background-color: rgb(87, 87, 87);
        color: white;
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 3px;
        bottom: -30px;
        right: 0;
        opacity: 0;
        font: Roboto, Arial, sans-serif;
        transition: opacity 0.15s;
        pointer-events: none;
        White-space: nowrap;
}
.search-icon-container:hover .search-tooltip {
        opacity: 1;
        
}
.menu-tooltip,
.logo-tooltip,
.mic-tooltip,
.upload-tooltip,
.apps-tooltip,
.notification-tooltip,
.profile-tooltip {
        position: absolute;
        background-color: rgb(87, 87, 87);
        color: white;
        font-size: 12px;
        padding: 4px 8px;
        border-radius: 3px;
        /* white-space: nowrap; */
        opacity: 0;
        /* pointer-events: none; */
        transition: opacity 0.15s;
        z-index: 101;
        pointer-events: none;
        White-space: nowrap;
        font: Roboto, Arial, sans-serif;
}
.menu-icon-container:hover .menu-tooltip,
.logo-icon-container:hover .logo-tooltip,
.mic-icon-container:hover .mic-tooltip,
.upload-icon-container:hover .upload-tooltip,
.apps-icon-container:hover .apps-tooltip,
.notification-container:hover .notification-tooltip,
.profile-icon-container:hover .profile-tooltip {
        opacity: 1;
        /* pointer-events: none; */

}
.menu-tooltip {
        bottom: -30px;
        left: 0;
}
.logo-tooltip {
        bottom: -30px;
        left: 0;
}
.mic-tooltip {
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
}
.upload-tooltip {
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
}
.apps-tooltip {
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
}
.notification-tooltip {
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
}
.profile-tooltip {
        bottom: -30px;
        left: 50%;
        transform: translateX(-50%);
}